[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain-ollama = "*"
langchain-core = "*"
langgraph = "*"
mcp = "*"
langchain-mcp-adapters = "*"
asgiref = "*"

[dev-packages]

[requires]
python_version = "3.11"
